<!doctype html>

<html lang="en">

<head>

    <meta charset=»utf-8»>

    <title>Compare y Ahorra , Aviso de Privacidad.</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7502926443959805"
     crossorigin="anonymous"></script>

</head>

    <body>
        
        {% extends 'base_main_2.html' %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        
        {% block content %}
        
        
        <div class="container p-2">
            <div class="container text-bg-light p-5">
                <h3 class=" mt-5">Aviso de Privacidad</h1>
                <p><strong>¿Quién es el responsable de los datos?:</strong> <br> <br>  Identidad: www.CompareyAhorra.com, en adelante "CompareyAhorra" el Portal.</p>
                <p><strong>I. ¿Tipo de datos tratamos?</strong><br><br>Principalmente, tratamos tus datos personales identificativos, unicamente los siguientes: nombre y apellidos, dirección de correo electrónico.
                    Tus datos identificativos están ligados a tu actividad en CompareyAhorra, como, por ejemplo, los artículos seleccionados a un supermercado o que consten en la lista de deseos de la compra en CompareyAhorra, lo que permitirá al Usuario realizar su compra más rápido en futuras visitas, y usar esta información en distintas compras. Recuerda que para que te podamos prestar el servicio de comparación de supermercados no te pediremos clave o usuario de tus supermercados para que realices tus compras, una vez comparadas aquí, solo prestaremos el servicio de redireccionar de nuestra página los productos guardados en el carrito de comparación.</p>
                <p> <strong>II. ¿Para que tratamos sus datos?</strong> <br><br> Trataremos sus datos con las siguientes finalidades y/o propósitos primarios: <br>
                    <br>(i)	Mantener nuestro registro de clientes, actualización de nuestros sistemas de tratamiento y bases de datos, así como creación de su cuenta de cliente en nuestros portales de Internet y/o aplicaciones y permitirle el uso de los servicios.
                    <br>(ii) Contactarlo por cualquier medio y notificarle respecto nuevas notificaciones, noticias, estudios relacionado con la información de mayor importancia de parte de nuestra pagina y nuestro contenido con fines de ahorro y educativo, para su mayor bienestar financiero y alimenticio.
                    <br>(iii) Conservar su información para el cumplimiento de las disposiciones legales y requerimientos de diversas autoridades y/o entidades regulatorias.
                    <br>(iv) Realizar estudios de mercadeo, segmentación de mercado y/o perfiles, o estadísticas a través de encuestas o estudios internas o externos.
                    <br>(v) Analítica de datos, “cookies” y de comportamientos, intereses y gustos de compras, así como para determinar su ubicación y localización dentro nuestra pagina webm,.-, y de esa forma brindarle información relevante con sus preferencias de compra, mediante la aplicación y uso de tecnologías de inteligencia artificial, big data y similares para análisis y procesamiento transaccional.
                    <br>(vi) Realizar tratamientos de técnicas de análisis masivo de datos para realizar actividades de perfilamiento y mejor conocimiento del cliente.
                    <br>(vii) Compartir sus perfiles y hábitos de consumo con nuestros socios comerciales para que éstos puedan contactarle y enviarle información de carácter publicitario, promocional y/o informativo que consideren de su interés y/o para que puedan valorar, conforme a sus procedimientos internos, si usted es susceptible de obtener el servicio que hubiere solicitado ante dicho tercero.
                    <br>(viii) Realizar un registro del tiempo de sesión cuando usa nuestros servicios y herramientas tecnológicas.
                    <br>(ix) Mantener la seguridad de las redes y servicios de comunicaciones electrónicas, detectar fallos o errores técnicos en la transmisión de las comunicaciones electrónicas, así como cualquier tratamiento que sea necesario para la correcta prestación de los servicios.
                    <br>(x) Realizar actividades de análisis de datos mediante la aplicación y uso de tecnologías de inteligencia artificial, big data y similares para generar reportes estadísticos, estudios sobre sus hábitos de consumo y/o uso de los servicios, mejor conocimiento del cliente, así como para dar cumplimiento a las finalidades previstas en este Aviso de Privacidad.
                </p>  
                <p><strong>III. ¿Cuánto tiempo conservamos tus datos?</strong><br><br>
                    Conservaremos tus Datos durante la vigencia de la relación contractual o prestación de servicio y durante el periodo que resulte necesario para la formulación, el ejercicio o la defensa de potenciales reclamaciones, para cumplir con obligaciones legales siempre que lo permita la legislación aplicable. Transcurridos los plazos de prescripción legal, destruiremos o anonimizaremos tus datos (salvo para investigación científica o estadística).
                </p>
                <p><strong>IV. ¿Dónde estarán almacenados sus datos y cuáles son sus derechos?</strong><br><br>
                    Sus datos serán almacenados y procesados en una base de datos de propiedad de CompareyAhorra, a quien usted autoriza expresamente a transferir dichos datos tanto dentro del mismo grupo corporativo, como a terceros proveedores de servicios, tanto en el país como en el extranjero. Estamos comprometidos con la protección de sus datos personales, por lo que si tiene alguna duda o desea ejercer los derechos de acceso, rectificación, cancelación, oposición o revocación del consentimiento y cualquier otro que le otorgue la legislación vigente, por favor envíe un email a help@compareyahorra.com, o siga las instrucciones contenidas en las comunicaciones que le sean enviadas a través de sus datos personales. En caso de que haya registrado una cuenta, puede ingresar a la plataforma de servicio a domicilio y eliminar o modificar los datos de su cuenta
                </p>
                <p><strong>V. COOKIES </strong><br><br>Identificación y Política de Cookies Esta página web es propiedad de Compare y Ahorre S.A. (en adelante, “CompareyAhorra. En nuestra web usamos cookies propias que nos permiten mejorar la experiencia de usuario y ofrecer contenidos adaptados a tus intereses gracias a la personalización del contenido. Además usamos cookies de terceras partes que personalizan la publicidad de las páginas que visitas con contenido de interés para nuestros usuarios. En caso de que continúes navegando con el navegador configurado para aceptar cookies entenderemos que aceptas la instalación de cookies tal y como se detalla en la Política de Cookies.
                </p>
                <p><strong>¿Qué son las cookies?</strong><br><br>Las cookies son pequeñas piezas de información que se almacenan en tu navegador y éste las comparte cuando visitas nuestro sitio web, y que permiten que nuestra aplicación almacene tus preferencias para personalizar la navegación. En ningún caso una web puede leer cookies de otra web.</p>
                <p><strong>¿Qué hacen las cookies?</strong><br><br>Las cookies no te identifican personalmente y no suponen ningún riesgo para tu ordenador o dispositivo móvil. No son virus ni software espía. Simplemente son herramientas utilizadas por los sitios web que visitas para mejorar tu navegación, para que tus datos viajen por la red seguros, para ayudarnos a entender qué información de nuestra web es más útil para nuestros usuarios o para saber qué ofertas pueden ser del interés de cada usuario. Y todo ello de una manera totalmente anónima: nunca sabremos tu nombre, dirección o teléfono a menos que tú nos los facilites. Tú decides si permites o no las cookies, pero si decides no permitirlas, debes bloquearlas en tu navegador. Antes de bloquearlas, queremos ayudarte mejor a entender cómo se usan las cookies.
                    <br><br>  Además debes tener en cuenta que, si decides no permitir el uso de cookies de CompareyAhorra puede que algunas características de la web no funcionen correctamente y, además, no podremos adaptar la información que te ofrecemos a tus intereses.
                </p>
                <p><strong>¿Durante cuánto tiempo están activas las cookies?</strong><br><br>Básicamente hay dos tipos de cookies:</p>
                <ul>
                    <li>Las de sesión expiran cuando cierras el navegador, es decir, están activas mientras dura tu visita a nuestro sitio web.</li>
                    <br><li>Las permanentes expiran cuando se cumple el tiempo de expiración elegido por quien ha enviado esta cookie o bien cuando se borran manualmente. Todas tienen una fecha de expiración y se utilizan normalmente en procesos de compra online, personalizaciones o en el registro, para no tener que introducir la contraseña constantemente.</li>
                <br></ul>

                <p><strong>¿Para qué usamos cookies en www.compareyahorra.com?</strong><br><br>En CompareyAhorra utilizamos las cookies para distintas finalidades que son básicamente estas: <br></p>
                <ul>
                    <li>Técnicas: son necesarias para que puedas navegar por CompareyAhorra correctamente. La cookie nos indica si eres o no usuario registrado para que puedas acceder a las funcionalidades que solo tú puedes ver.</li>
                    <br><li>De análisis: ponemos un identificador único a tu navegador que nos permite entender cómo navegas por nuestra web, ver qué funciona y qué no, mejorar la página web, calcular cuánta gente visita CompareyAhorra.com con el fin de mejorar los servicios que te podemos ofrecer. Esta información es anónima, y solo la necesitamos para fines estadísticos.</li>
                    <br><li>Publicidad: el sistema analiza tus preferencias en la web para poder mostrarte publicidad y ofertas relacionadas con tus gustos. Así no te hacemos perder el tiempo con ofertas que realmente no te son útiles.</li>
                    <br>
                </ul>
                <p><strong>Cómo configurar/desactivar las cookies</strong><br><br>A continuación puede encontrar toda la información necesaria para desactivar las cookies en cada navegador:</p>
                <br>
                <a href="https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences">Mozilla Firefox</a><br>
                <a href="https://support.google.com/chrome/answer/95647?hl=en">Google Chrome</a><br>
                <a href="https://support.microsoft.com/es-es/help/17442">Internet Explorer</a><br>
                <a href="https://support.apple.com/kb/PH5042?locale=es_ES">Safari 5.1</a><br><br>

                <p><strong>Relación / Identificación de Cookies utilizadas</strong><br><br>A continuación te mostramos las cookies que empleamos ordenadas por la función que desempeñan e informándote que site o proveedor es el que las genera.
                <br><br>Técnicas <br><br>Cookie / Proveedor / Propósito <br>
                CompareyAhorra / CompareyAhorra /preferencias de usuario <br>
                sscc / CompareyAhorra / para ver si el usuario vio y aceptó aviso de cookies <br>
                slist / CompareyAhorra / para recordar si el usuario prefiere ver la lista rápida <br>

                Análisis <br> <br>
                Cookie / Proveedor / Propósito <br>
                utm / GoogleAnalytics / análisis de uso del site <br><br>

                Marketing <br><br>
                Cookie / Proveedor / Propósito <br>
                Visibility / CompareyAhorra / publicidad y ofertas especiales <br>
                ../ GoogleAds/publicidad personalizada de Google <br><br>
                </p>

                <p><strong>VI. Modificaciones y Autorización</strong> <br> <br>El presente aviso de privacidad puede sufrir modificaciones derivadas de requerimientos legales y/o actualizaciones de nuestras finalidades de uso de los datos personales, por lo que lo mantendremos informado a través de la presente plataforma. Al utilizar la página web o la aplicación autorizo y consiento de modo expreso, libre, inequívoco, informado y específico, el tratamiento de mis datos personales sea por medios manuales, mecánicos y/o automatizados, incluyendo la posible transferencia y/o comunicación de los mismo a terceros ubicados tanto en el país como en el extranjero, y reconozco que he leído, entiendo y acepto la presente política.</p>
            </div>
            
            {% include 'footer.html' %}
        </div>
       
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script>

            $("#navbarTogglerDemo03").on('show.bs.collapse', function() {
                $('a.nav-link').click(function() {
                    $("#navbarTogglerDemo03").collapse('hide');
                    });
                });

            $(".sidebar ul li").on('click' , function(){
                $(".sidebar ul li.active").removeClass('active');
                $(this).addClass('active');
            });
    
                $('.open-btn').on('click' , function(){
                $('.sidebar').addClass('active');
                
            });
    
            $('.close-btn').on('click' , function(){
                $('.sidebar').removeClass('active');
                
            });
    
        </script>
        
        {% endblock %}
    </body>

</html>