{% load static %}
<div id="carouselExampleAutoplaying" class="carousel slide " data-bs-ride="carousel">
  <div class="carousel-inner  ">
    <div class="carousel-item active  ">
      <img src="{% static 'portada 1-1 nuevo logo.webp' %}" class="d-block w-100 desktopp"   alt="presentacion de compareyahorre.com">
      <img src="{% static 'portada 1-1 smartphone.webp' %}" class="d-block w-100 smartphone"   alt="presentacion de compareyahorre.com">
    </div>
    <div class="carousel-item">
      <img src="{% static 'portada 2-2.webp' %}" class="d-block w-100 desktopp"   alt="compare por litros los precios">
      <img src="{% static 'portada 2-2 smartphone.webp' %}" class="d-block w-100 smartphone"   alt="compare por litros los precios">
    </div>
    <div class="carousel-item">
      <a href="{% url 'search-producto/' %}?searched=vino&categoria=LICORES&price_lt=yes">
        <img src="{% static 'portada 3-3.webp' %}" class="d-block w-100 desktopp"   alt="compare por precios de vino">
        <img src="{% static 'portada 3-3 smartphone.webp' %}" class="d-block w-100 smartphone"   alt="compare por precios de vino">
      </a>
      
    </div>
    <div class="carousel-item">
      <img src="{% static 'portada 4-4.webp' %}" class="d-block w-100 desktopp"  alt="ahorre los precios en nuestra pagina compareyahorre">
      <img src="{% static 'portada 4-4 smartphone.webp' %}" class="d-block w-100 smartphone"   alt="ahorre los precios en nuestra pagina compareyahorre">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Anterior</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Siguiente</span>
  </button>
</div>